* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

._hidden {
  position: fixed;  
  z-index: 3;
  min-width: 100vw;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center; 
}

._hidden::after {
  content: "";
  background-color: #000000;
  z-index: -1;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.form_popap {
  background-color: rgba(255, 255, 255, 1);
  max-width: 390px;
  position: relative;
  padding: 50px 30px;
}

.close {
  position: absolute;
  top: -25px;
  right: 0;
  width: 20px;
  height: 20px;   
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans Regular";
  font-size: 13px;
}

.select {
  height: 45px;
  width: 100%;
  background-color: #f4f7f6;
  padding-left: 20px;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;  

  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: right 5px center;
}

.radio_list {
  margin-top: 30px;
  margin-bottom: 30px;
}

.selection_form {
  display: flex;
}

.selection_form_item {
  margin-right: 15px;
}

.radio-select {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.radio-select-text::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;

  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;

  vertical-align: middle;
  margin-right: 8px;
}

.radio-select:checked ~ .radio-select-text::before {
  background-image: url("../svg/form-circle.svg");
}

.popap_text {
  width: 100%;
  height: 130px;
  background-color: #f4f7f6;
  padding: 20px;
  border: none;
  font-family: "Open Sans Regular";
  font-size: 13px;
}

.popap_text:focus {
  border: 1px solid #b59f5b;
}

.button-send {
  width: 100%;
  height: 45px;
  text-transform: uppercase;
  font-family: "Open Sans Bold";
  font-size: 14px;
  color: #fff;
  border: none;
  background-color: #b59f5b;
  margin-top: 25px;
}

.button-send:hover {
  background-color: #323232;
}

header {
  background-image: url("../images/banner-bg.jpg");
  background-color: #666664;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 145px;  
  margin-bottom: 60px;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  right:0;
  bottom:0;
  left:0;
  background-color: #000000;
  z-index: 1;
  opacity: 0.6;
  height: 450px;
}


.navigation {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  margin: auto;
}

.logo-block {
  display: flex;
  z-index: 2;
}

.logo {
  width: 185px;
}

.menu {
  z-index: 2;
}

.menu-list {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 13px;
}

.menu-list-li:nth-child(-1n+5) {
  margin: 0px 17px;
}

.menu-link {
    text-decoration: none;
    font-family: "Open Sans Regular";    
    color: #dcdddc; 
    text-transform: uppercase;     
  }

  .menu-link:hover {
    color: #ffffff;
    font-family: "Open Sans Regular";
  }

.h1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 95px auto 0px;
}


h1 {
  font-family: "Open Sans Bold";
  font-size: 45px;
  line-height:1.6;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
}


.trends {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.trend {
  max-width: calc(25% - 5px);
  max-height: 315px;
  background-color: #606260;
  background-size: cover;
  position: relative;
  display: flex;
  align-items:flex-end;
  padding: 23px 15px;
  z-index: 1;
}

.trend::after {
  content: "";
  position: absolute;
  top: 0;
  right:0;
  bottom:0;
  left:0;
  background-color: #000000;
  z-index: -1;
  opacity: 0.6;
  height: 100%;
}

.trend-text {
  border: 3px solid #6d6037;
  padding: 35px 30px;  
}

.header_trend {
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Open Sans Bold";
}

.header_trend:hover {
  color: #b59f5b;
}

.trend-1 {
  background-image: url(../images/trend1.jpg);
  
}

.trend-2 {
  background-image: url(../images/trend2.jpg);
  
}

.trend-3 {
  background-image: url(../images/trend3.jpg);
  
}

.trend-4 {
  background-image: url(../images/trend4.jpg);
}

.main {
  display: flex;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding: 60px 15px 0px;

}

main {
  width: 65%;
  position: relative;
}

aside {
  width: 270px;
}

.aside {
  display: flex;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.content-image {
  width: 49%;
  background-color: #eff5f1;
}

.content-text {
  margin-left: 30px;
}

.content-hesh-list {
  display: flex;
  list-style-type: none;
  font-family: "Open Sans Bold";
  font-size: 14px;
  text-transform: uppercase;    
}

.content-hesh-list-li-margin {
  margin-right: 20px;
}

.content-hesh-teg {
  text-decoration: none;
  color: #b59f5b;  
}

.content-hesh-teg:hover {
  text-decoration: underline;
  color: #b59f5b;
}

.content-header {
  font-family: "Open Sans Bold";
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.content-header-ref {
  text-decoration: none;
  color: #0f0d0e;
}

.content-header-ref:hover {
  text-decoration: none;
  color: #b59f5b;
}

.content-time {
  font-family: "Open Sans Regular";
  font-size: 12px;
  color: #888888;
}

.content-autor {
  font-family: "Open Sans Bold";
  font-size: 12px;
  color: #000000;
}

.content-text-description {
  font-family: "Open Sans Regular";
  font-size: 15px;
  color: #0f0d0e;
  margin-top: 40px;
}

.content-text-description2 {
  font-family: "Open Sans Regular";
  font-size: 15px;
  color: #0f0d0e;
  margin-top: 10px;
}



.aside-header-link {
  text-decoration: none;    
}

.aside-header, .header_trends, .header_products {
  font-family: "Open Sans Bold";  
  color: #0f0d0e;
  text-align: center;    
}

.aside-header {
  font-size: 14px;
}

.header_trends, .header_products {
  font-size: 20px;
  text-transform: uppercase;
}

.aside-header::after, .header_trends::after, .header_products::after {      
  content:"";
  display: block;
  position: relative;
  margin: 14px auto 20px ;
  width: 65px;
  height: 3px;
  background:#b59f5b;
}

.aside-section {
  margin-bottom: 55px;
}

.aside {
  margin-bottom: 20px;
}

.aside-image {
  width: 25.5%;
  margin-right: 20px;
}

.aside-text {
  width: 65.5%;
}

.aside-content-header {
  font-family: "Open Sans Bold";
  font-size: 14px;
  color: #0f0d0e;
  text-transform: uppercase;
}

.aside-content-header:hover {    
  color: #b59f5b;
}

.search {
  display: flex;
  height: 45px;
  margin-top: 60px;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 

input {
  font-family: "Open Sans Regular";
  font-size: 13px;
  background-color: #f3f7f5;
  padding: 0px 20px;
  border: none;
}

.input-search {
  width: 225px;   
  height: 100%;  
}

.input:focus {
  outline: 1px solid #b59f5b;
}

.button-search {
  width: 45px;
  background-color: #b59f5b;
  background-image: url(../svg/search.svg);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.button-search:hover {
  background-color: #313131;
}

.aside-section-header {
  font-family: "Open Sans Bold";
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.aside-section-header::after{      
  content:"";
  display: block;
  position: relative;
  margin: 14px auto 20px ;
  width: 65px;
  height: 3px;
  background:#b59f5b;
}

.input-Subscribe {
  height: 45px;
  width: 100%;
  margin-bottom: 20px;
}

.button-Subscribe {
  height: 45px;
  width: 100%;
  background-color: #b59f5b;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Open Sans Bold";
  font-size: 14px;
  text-align: center;
  border: none;
  }

.button-Subscribe:hover {
  background-color: #313131;
}

.tags-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.tags-li {
  border: solid;
  border-width: 2px;
  border-color: #ededed;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: "Open Sans Bold";
  font-size: 12px;
  padding: 6px 10px;  
}

.tags-li:hover {
  border-color: #b59f5b;    
}

.tags-link {
  text-decoration: none;
  color: #0f0d0e;
}

.categories-list {
  list-style-type: none;
}

.categories-li {
  display: flex;
  font-family: "Open Sans Bold";
  font-size: 14px;
  padding: 12px 0px;
  border-bottom: 1px solid #eeeeee;
}

.categories-link {
  text-decoration: none;
  color: #0f0d0e;
}

.categories-link:hover {
  color: #b59f5b;
}

.categories-li-num{
  font-family: "Open Sans Bold";
  font-size: 12px;
  color: #b59f5b;
  padding-left: 5px;
  padding-bottom: 5px;
}

.products {
  max-width: 1200px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.products_list {
  display: flex;
  justify-content: space-between;  
  padding-top: 15px;
}

.product {
  width: 28.75%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product:nth-child(1n+2) {
  margin-left: 6%;
}

.product-description {
  outline: 3px solid #d5c9a3;
  outline-offset: 20px;
  flex-grow: 1;
}

.product-header {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Open Sans Bold";
  padding-top: 30px;
}

.product-text-description {
  font-size: 15px;
  font-family: "Open Sans Regular";
}

.product_description_link {
  text-decoration: none;
  color: #c7b683;
}

.shop {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.store {
  width: 140px;
  height: 50px;
  background-color: #b59f5b;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Open Sans Bold";
  border: none;
}

.old_price {
  font-family: "Open Sans Bold";
  font-size: 14px;
  text-decoration: line-through;
  position: relative;
}

.new_price {
  font-family: "Open Sans Bold";
  font-size: 20px;
  position: relative;
}

.rub {
  position: relative;
}

.rub::after {
  content:"";  
  display: block;
  position: absolute;
  width: 7px;
  height: 2px;
  background-color: #000000;
  margin-top: -0.5em;
  right: 0.1em;
}

footer {
  text-align: center;
  padding-bottom: 40px;
}

.social {
  max-width: 1200px;
  margin: 0px auto 70px;
  background-color: #f3f7f5;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-li {
  list-style-type: none;
}

.social-list-li:nth-child(-1n+4) {
  margin-right: 30px;
}

.social-list-li > a {
  display: block;
  height: 20px;
  width: 20px;
  background-size: cover;
}

.link-img1 {
  background-image: url("../svg/004-twitter.svg");
}

.link-img2 {
  background-image: url("../svg/001-pinterest.svg");
}

.link-img3 {
  background-image: url("../svg/002-facebook-logo.svg");
}

.link-img4 {
  background-image: url("../svg/005-instagram.svg");
}

.link-img5 {
  background-image: url("../svg/003-tumblr.svg");
}

.copyrights {
  font-family: "Open Sans Bold";
  font-size: 12px;
  color: #999999;
  text-decoration: none;
}

/*    tablet      */

@media (min-width: 641px) and (max-width: 1199px), (max-width: 640px) and (orientation: landscape) {
  .trends {
    flex-wrap: wrap;
  }

  .trend {
    max-width: calc(50% - 5px);
    max-height: 250px;
    margin-bottom: 5px;
  }

  .content {
    flex-wrap: wrap;
  } 

  .content-image {
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-bottom: 15px;
  }

  .content-text-description-line::after {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 60px);
    height: 3px;
    background-color: #eee;
    margin-top: 20px;
  }

  .products_list {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .product {
    width: 45%;
  }

  .product:nth-child(3) {
    margin-top: 50px;
    margin-right: auto;
  }

}

/*    mobile      */

@media (max-width: 640px) {
  .form_popap {
    max-width: 330px;
  }
  
  .trends {
    flex-wrap: wrap;
  }

  .trend {
    max-width: 500px;
    max-height: 230px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .main {
    flex-wrap: wrap;
  }

  main {
    width: 100%;
  }

  .content {
    flex-wrap: wrap;
  }

  .content-image {
    width: 100%;
    margin-bottom: 15px;
  }

  .products_list {
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .product {
    width: 100%;
  }

  .product:nth-child(1) {
    margin-bottom: 50px;
    margin-left: 20px;
  }

  .product:nth-child(2) {
    margin-bottom: 50px;
  }
}

@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}